body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

.section-container {
  max-width: 90%;
  margin: 0 auto;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.recommended {
  margin-top: 100px;
  text-transform: capitalize;
  font-size: 2em;
  color: #2e2a2a;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 410px);
  grid-template-rows: auto;
  grid-gap: 25px;
  align-items: center;

  /* border: dotted; */
}

.search {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.search button {
  margin-left: 15px;
  padding: 15px;
}

.search input {
  padding: 15px;
  width: 30%;
}
@media only screen and (max-width: 1370px) {
  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: auto;
  }
}

@media only screen and (max-width: 1025px) {
  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 450px);
    grid-template-rows: auto;
    grid-gap: 30px;
  }
}

@media only screen and (max-width: 820px) {
  .image-grid {
    display: flex;
    flex-direction: column;
  }

  .recommended {
    font-size: 1.7rem;
    text-align: center;
  }
}

@media only screen and (max-width: 510px) {
  .recommended {
    font-size: 1.5rem;
    text-align: center;
  }

  .image-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
